@import "../../../styles/variables";

.subscribe {
  &__button {
    max-width: 100px;
    width: 100px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid $border-color;
    cursor: pointer;
    &_1 {
      background: none;
      color: #dbdbdb;
    }
    &_2 {
      background: $submit-button;
      color: #dbdbdb;
    }
  }
}