@import "../../styles/variables";

.page-not-found {
  text-align: center;
  padding: 0 30px;
  &__title {
    font-weight: 600;
  }
  &__sub-title {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    span {}
    a {
      display: inline-block;
      cursor: pointer;
      color: $ig-link;
      &:visited {
        color: $ig-link;
      }
    }
  }
}