$main-color: #FAFAFA;
$link-color-footer: #8e8e8e;
$white: #FFFFFF;
$black: #000;
$border-color: #dbdbdb;
$input-bg: #FAFAFA;
$submit-button: #0095F6;
$submit-button-disabled: #B2DFFC;
$grey: #8E8E8E;
$error: #ed4956;
$search-panel: #EFEFEF;
$ig-link: #00376b;