@import '../../styles/variables.scss';

.story {
    padding-left: 15px;
    height: 85px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__border {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        &.user-page {
            width: 156px;
            height: 156px;
            @media screen and (max-width: 735px) {
                width: 83px;
                height: 83px;
            }
        }
    }
    &__picture {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 50%;
        }
        svg {
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__username {
        max-width: 100%;
        margin-top: 5px;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}