@import "../../styles/variables";

.home {
  width: 100%;
  height: 100%;
  &__container {
    display: grid;
    grid-template-columns: 470px 180px;
    place-content: center;
    grid-gap: 30px;
    @media screen and (max-width: 1000px){
      grid-template-columns: minmax(0, 470px);
    }
  }
  &__data {
    @media screen and (max-width: 1000px){
      display: none;
    }
    &__header {
      display: flex;
      align-items: center;
      &__user-avatar {
        min-width: 56px;
        max-width: 56px;
        min-height: 56px;
        max-height: 56px;
        img {
          min-width: 56px;
          max-width: 56px;
          min-height: 56px;
          max-height: 56px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      &__username {
        margin-left: 15px;
        font-weight: 600;
        color: $black;
      }
    }
    &__footer {
      margin-top: 30px;
      &__title {
        font-weight: 400;
        font-size: 12px;
        color: $grey;
      }
    }
  }
}